
body{
    height: 100vh;
    animation-name: bgc;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    background: linear-gradient( 200deg , rgb(87, 86, 86),rgb(29, 27, 27), rgb(236, 236, 236),rgb(2, 1, 1));
    background-size: 800% 800%;
    
    
}

@-moz-keyframes bgc{
    0%{
        background-position: 30% 10%;
    }
    25%{
        background-position: 10% 0;
    }
    50%{
        background-position: 10% 80%;
    }
    75%{
        background-position: 80% 60%;
    }
    100%{
        background-position: 30% 10%;
    }
}

.login{
    width:100%;
    height:300px;
    background-color: transparent;
    border: .3px solid rgb(148, 171, 235);
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 90px  rgb(196, 202, 255);

}

.login h2{
font-size: 40px;
font-weight: 700;
margin-bottom: 10px;
transition: .7s;
text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.452);
width: 65%;
margin: 0 auto;
text-align: center;
}
.login h2:hover{
 color: white;
text-shadow: 1px 1px 40px rgb(0, 0, 0);
}
.login input{
    margin-top: 10px;
    width: 65%;
    height: 26px;
    border-radius: 14px;
    outline: none;
    padding: 20px;
    transition: 1s;
}
.login input:focus{
    border-top: 2px solid rgb(86, 86, 255);
    border-left: 2px solid rgb(54, 54, 214);
    border-right: 2px solid rgb(77, 77, 163);
    border-bottom: 2px solid rgb(52, 52, 117);
    transition: 1s;
    outline: none;
    width: 80%;
}
.line{
    width: 60%;
    height: 1px;
    background-color: white;
    margin-bottom: 10px;
}

::placeholder{
    text-align: center;
    color: rgb(97, 97, 97);
    font-size: 17px;
    font-weight: 200;
}
.button{
    margin-top: 10px;
    width: 45%;
    background: linear-gradient(to left,white,black,white);
    color: rgb(252, 235, 235);
    text-decoration: none;
    text-align: center;
    padding: 4px 10px;
    border-radius: 20px;
    text-shadow: 1px 1px 30px black;
    font-weight: 700;
    transition: all .5s;
}
.button:hover{
    width: 65%;
    color: white;
}
